[data-cellid="left_c1"][data-page="localidad_list"][data-cellid="left_c1"][data-page="localidad_list"][data-cellid="left_c1"][data-page="localidad_list"] {
  background-color: #fdfdfd;
}
[data-cellid="grid_headcell_checkbox"][data-page="localidad_list"][data-cellid="grid_headcell_checkbox"][data-page="localidad_list"][data-cellid="grid_headcell_checkbox"][data-page="localidad_list"] {
  width: 30px;
}
[data-cellid="grid_cell_details"][data-page="localidad_list"][data-cellid="grid_cell_details"][data-page="localidad_list"][data-cellid="grid_cell_details"][data-page="localidad_list"] {
  white-space: nowrap;
}
[data-cellid="grid_cell_details1"][data-page="localidad_list"][data-cellid="grid_cell_details1"][data-page="localidad_list"][data-cellid="grid_cell_details1"][data-page="localidad_list"] {
  white-space: nowrap;
}
[data-cellid="grid_cell_details3"][data-page="localidad_list"][data-cellid="grid_cell_details3"][data-page="localidad_list"][data-cellid="grid_cell_details3"][data-page="localidad_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_icons"][data-page="localidad_list"][data-cellid="grid_headcell_icons"][data-page="localidad_list"][data-cellid="grid_headcell_icons"][data-page="localidad_list"] {
  width: 30px;
}
[data-cellid="grid_cell_icons"][data-page="localidad_list"][data-cellid="grid_cell_icons"][data-page="localidad_list"][data-cellid="grid_cell_icons"][data-page="localidad_list"] {
  white-space: nowrap;
}
[data-cellid="grid_cell_icons1"][data-page="localidad_list"][data-cellid="grid_cell_icons1"][data-page="localidad_list"][data-cellid="grid_cell_icons1"][data-page="localidad_list"] {
  white-space: nowrap;
}
[data-cellid="grid_cell_details6"][data-page="localidad_list"][data-cellid="grid_cell_details6"][data-page="localidad_list"][data-cellid="grid_cell_details6"][data-page="localidad_list"] {
  white-space: nowrap;
}
[data-page="localidad_list"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


