[data-cellid="grid_cell_icons"][data-page="mapa_ventas_list"][data-cellid="grid_cell_icons"][data-page="mapa_ventas_list"][data-cellid="grid_cell_icons"][data-page="mapa_ventas_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_icons1"][data-page="mapa_ventas_list"][data-cellid="grid_headcell_icons1"][data-page="mapa_ventas_list"][data-cellid="grid_headcell_icons1"][data-page="mapa_ventas_list"] {
  width: 30px;
}
[data-cellid="grid_cell_details"][data-page="mapa_ventas_list"][data-cellid="grid_cell_details"][data-page="mapa_ventas_list"][data-cellid="grid_cell_details"][data-page="mapa_ventas_list"] {
  white-space: nowrap;
}
[data-page="mapa_ventas_list"][data-itemid="map"] {
  width: 100%;
  height: 450px;
}
[data-page="mapa_ventas_list"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


