<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-view" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="view_header" data-itemid="view_header" {$item_view_header} data-pageid="{$pageid}" >{$pagetitlelabel Mapa_spliters view}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN DisplayOnMap_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_DisplayOnMap}  r-vertical-field" data-fieldname="DisplayOnMap" data-signal-error-for="DisplayOnMap{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="DisplayOnMap" data-fieldname="DisplayOnMap" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_DisplayOnMap}">
		
		{BEGIN DisplayOnMap_label}{$label Mapa_spliters DisplayOnMap }{END DisplayOnMap_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$DisplayOnMap_value}	</div>

		
</div>


{END DisplayOnMap_fieldblock}
											
{BEGIN spliter_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_spliter}  r-vertical-field" data-fieldname="spliter" data-signal-error-for="spliter{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="spliter" data-fieldname="spliter" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_spliter}">
		
		{BEGIN spliter_label}{$label Mapa_spliters spliter }{END spliter_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$spliter_value}	</div>

		
</div>


{END spliter_fieldblock}
											
{BEGIN cable_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cable}  r-vertical-field" data-fieldname="cable" data-signal-error-for="cable{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="cable" data-fieldname="cable" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_cable}">
		
		{BEGIN cable_label}{$label Mapa_spliters cable }{END cable_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$cable_value}	</div>

		
</div>


{END cable_fieldblock}
											
{BEGIN localidad_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_localidad}  r-vertical-field" data-fieldname="localidad" data-signal-error-for="localidad{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="localidad" data-fieldname="localidad" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_localidad}">
		
		{BEGIN localidad_label}{$label Mapa_spliters localidad }{END localidad_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$localidad_value}	</div>

		
</div>


{END localidad_fieldblock}
											
{BEGIN Cto_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Cto}  r-vertical-field" data-fieldname="Cto" data-signal-error-for="Cto{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="Cto" data-fieldname="Cto" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Cto}">
		
		{BEGIN Cto_label}{$label Mapa_spliters Cto }{END Cto_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Cto_value}	</div>

		
</div>


{END Cto_fieldblock}
											
{BEGIN Latitud_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Latitud}  r-vertical-field" data-fieldname="Latitud" data-signal-error-for="Latitud{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="Latitud" data-fieldname="Latitud" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Latitud}">
		
		{BEGIN Latitud_label}{$label Mapa_spliters Latitud }{END Latitud_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Latitud_value}	</div>

		
</div>


{END Latitud_fieldblock}
											
{BEGIN Longitud_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Longitud}  r-vertical-field" data-fieldname="Longitud" data-signal-error-for="Longitud{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="Longitud" data-fieldname="Longitud" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Longitud}">
		
		{BEGIN Longitud_label}{$label Mapa_spliters Longitud }{END Longitud_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Longitud_value}	</div>

		
</div>


{END Longitud_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN back_button}
<span data-itemtype="view_back_list" data-itemid="view_back_list" {$item_view_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							{mlang_message BACK_TO_LIST}			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="view_close" data-itemid="view_close" {$item_view_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" href="#" {$closebutton_attrs} >
							{mlang_message CLOSE_WINDOW}			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	">
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
</span>
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
