<!doctype html>
<html  {$html_attrs}>
	<head>
			<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
	
    <head profile="http://www.w3.org/2005/10/profile">

    <link rel="icon" type="image/png" href="eia.png" />

    </head>		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-view" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="view_header" data-itemid="view_header" {$item_view_header} data-pageid="{$pageid}" >{$pagetitlelabel reporte_afectaciones_view view}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN Id_afectacion_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Id_afectacion}  r-vertical-field" data-fieldname="Id_afectacion" data-signal-error-for="Id_afectacion{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="Id_afectacion" data-fieldname="Id_afectacion" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Id_afectacion}">
		
		{BEGIN Id_afectacion_label}{$label reporte_afectaciones_view Id_afectacion }{END Id_afectacion_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Id_afectacion_value}	</div>

		
</div>


{END Id_afectacion_fieldblock}
											
{BEGIN Fecha_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Fecha}  r-vertical-field" data-fieldname="Fecha" data-signal-error-for="Fecha{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="Fecha" data-fieldname="Fecha" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Fecha}">
		
		{BEGIN Fecha_label}{$label reporte_afectaciones_view Fecha }{END Fecha_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Fecha_value}	</div>

		
</div>


{END Fecha_fieldblock}
											
{BEGIN Localidad_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Localidad}  r-vertical-field" data-fieldname="Localidad" data-signal-error-for="Localidad{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="Localidad" data-fieldname="Localidad" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Localidad}">
		
		{BEGIN Localidad_label}{$label reporte_afectaciones_view Localidad }{END Localidad_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Localidad_value}	</div>

		
</div>


{END Localidad_fieldblock}
											
{BEGIN Cables_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Cables}  r-vertical-field" data-fieldname="Cables" data-signal-error-for="Cables{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="Cables" data-fieldname="Cables" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Cables}">
		
		{BEGIN Cables_label}{$label reporte_afectaciones_view Cables }{END Cables_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Cables_value}	</div>

		
</div>


{END Cables_fieldblock}
											
{BEGIN Spliters_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Spliters}  r-vertical-field" data-fieldname="Spliters" data-signal-error-for="Spliters{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="Spliters" data-fieldname="Spliters" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Spliters}">
		
		{BEGIN Spliters_label}{$label reporte_afectaciones_view Spliters }{END Spliters_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Spliters_value}	</div>

		
</div>


{END Spliters_fieldblock}
											
{BEGIN Ctos_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Ctos}  r-vertical-field" data-fieldname="Ctos" data-signal-error-for="Ctos{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="Ctos" data-fieldname="Ctos" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Ctos}">
		
		{BEGIN Ctos_label}{$label reporte_afectaciones_view Ctos }{END Ctos_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Ctos_value}	</div>

		
</div>


{END Ctos_fieldblock}
											
{BEGIN Tipo_Afectacion_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Tipo_Afectacion}  r-vertical-field" data-fieldname="Tipo_Afectacion" data-signal-error-for="Tipo_Afectacion{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="Tipo_Afectacion" data-fieldname="Tipo_Afectacion" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Tipo_Afectacion}">
		
		{BEGIN Tipo_Afectacion_label}{$label reporte_afectaciones_view Tipo_Afectacion }{END Tipo_Afectacion_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Tipo_Afectacion_value}	</div>

		
</div>


{END Tipo_Afectacion_fieldblock}
											
{BEGIN Observaciones_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Observaciones}  r-vertical-field" data-fieldname="Observaciones" data-signal-error-for="Observaciones{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="Observaciones" data-fieldname="Observaciones" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Observaciones}">
		
		{BEGIN Observaciones_label}{$label reporte_afectaciones_view Observaciones }{END Observaciones_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Observaciones_value}	</div>

		
</div>


{END Observaciones_fieldblock}
											
{BEGIN Estado_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Estado}  r-vertical-field" data-fieldname="Estado" data-signal-error-for="Estado{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="Estado" data-fieldname="Estado" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Estado}">
		
		{BEGIN Estado_label}{$label reporte_afectaciones_view Estado }{END Estado_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Estado_value}	</div>

		
</div>


{END Estado_fieldblock}
											
{BEGIN Fecha_Solucion_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Fecha_Solucion}  r-vertical-field" data-fieldname="Fecha_Solucion" data-signal-error-for="Fecha_Solucion{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="Fecha_Solucion" data-fieldname="Fecha_Solucion" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Fecha_Solucion}">
		
		{BEGIN Fecha_Solucion_label}{$label reporte_afectaciones_view Fecha_Solucion }{END Fecha_Solucion_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Fecha_Solucion_value}	</div>

		
</div>


{END Fecha_Solucion_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN back_button}
<span data-itemtype="view_back_list" data-itemid="view_back_list" {$item_view_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							{mlang_message BACK_TO_LIST}			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="view_close" data-itemid="view_close" {$item_view_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" href="#" {$closebutton_attrs} >
							{mlang_message CLOSE_WINDOW}			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	">
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
</span>
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
